* {
    font-family: 'Oswald' !important;
}

.aptivLogo {
    width: auto;
    height: 40px;
    margin-left: 2%;
    border: none;
    margin-top: 30px;
}

.title {
    font-size: 30px;
    color: #23364d;
    padding-top: 10px;
    letter-spacing: 2px;
    margin-left: 2%;
    margin-top: 10px;
}

.searchBox {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 2%;
    margin-top: 50px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 85%;
    height: 100%;
    border: none;
    background-color: #ddd;
    font-size: 20px;
    padding-left: 5px;
    color: #23364d;
}

.searchButton {
    width: 15%;
    height: 100%;
    border: none;
    background-color: #ddd;
    font-size: 20px;
    color: #23364d;
    cursor: pointer;
}

.tableContainer {
    width: 96%;
    height: auto;
    background-color: #fff;
    margin-left: 2%;
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 15px 2px#6d6d6d17;
    margin-bottom: 100px;
    position: relative;
}

.tableContainer>div:last-of-type {
    border-bottom: 0px;
}

.tableHead {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.tableHead>div {
    font-size: 18px;
    color: #888;
    text-transform: uppercase !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    white-space: nowrap;
    flex-wrap: wrap;
    background-color: #edeff2;
    flex-wrap: wrap;
}

.itemType {
    width: 96%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(85, 164, 255, 0.267);
    border-radius: 5px;
    font-size: 14px;
}

.itemType>div {
    font-size: 13px;
    font-family: 'OswaldLight';
    color: #333;
}

.infoLine {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #222;
    border-bottom: 1px #ddd solid;
}

.infoLine>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    font-size: 18px;
    color: #23364d;
    white-space: nowrap;
}

.cell_1 {
    width: 3%;
    justify-content: flex-start !important;
    padding-left: 10px;
}

.cell_2 {
    width: 7%;
    padding-left: 10px;
    justify-content: flex-start !important;
}

.cell_3 {
    width: 24.5%;
}

.cell_4 {
    width: 24.5%;
}

.cell_5 {
    width: 16.36%;
}

.cell_6 {
    width: 8.18%;
}

.cell_7 {
    width: 16.36%;
}

.CB {
    background-color: #c3deff33;
}

.checkTable {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkTable>div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 2px#6d6d6d21;
    background-color: #fff;
    overflow: hidden;
}

.checkTable>div>img {
 
    cursor: pointer;
}

.moreInfoButton {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(85, 164, 255, 0.267);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    color: #444;
    cursor: pointer;
}

.emptyTable {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.emptyTable>img {
    min-width: 100px;
}

.emptyTable>p {
    font-size: 24px;
    color: #23364d;
    margin-left: 20px;
}

.allResult {
    width: 200px;
    height: 50px;
    color: #23364d;
    background-color: #23364d2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 40px;
}

.informationWindow {
    width: 96%;
    min-height: 1000px;
    height: auto;
    background-color: #fff;
    margin-left: 2%;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #edeff2;
    display: none;
}

.backArrowContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.infoAboutProduct {
    padding: 20px;
}

.element1 {
    width: 96%;
    min-height: 50px;
    margin-top: 20px;
    font-size: 18px;
    color: #000;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #00000011;
    align-items: center;
    display: flex;
    padding: 10px;
}

@media(max-width:1100px) {
    .aptivLogo {
        margin-left: 1%;
        margin-top: 20px;
        height: 30px;
    }

    .title {
        font-size: 20px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .searchBox {
        width: 98%;
        height: 40px;
        margin-left: 1%;
        margin-top: 20px;
    }

    input {
        font-size: 16px;
    }

    .searchButton {
        font-size: 16px;
    }

    .informationWindow {
        width: 98%;
        min-height: 1000px;
        margin-left: 1%;
        margin-top: 30px;
    }

    .backArrowContainer {
        width: 30px;
        height: 30px;
        margin-left: 1%;
    }

    .infoAboutProduct {
        padding: 0px;
    }

    .element1 {
        width: 98%;
        min-height: 40px;
        margin-top: 10px;
        font-size: 16px;
        margin-left: 1%;
        padding: 10px;
    }

    .tableContainer {
        width: 98%;
        margin-left: 1%;
        margin-top: 30px;
    }

    .tableHead {
        height: 80px;
    }

    .tableHead>div {
        font-size: 14px;
    }

    .itemType {
        width: 100%;
        height: 40px;
        font-size: 10px;
    }

    .itemType>div {
        font-size: 10px;
    }

    .infoLine {
        height: 50px;
    }

    .infoLine>div {
        font-size: 14px;
    }

    .cell_1 {
        width: 0% !important;
        display: none !important;
    }

    .cell_2 {
        width: 10%;
        padding-left: 1px;
    }

    .checkTable>div {
        width: 30px;
        height: 30px;
    }

    .allResult {
        width: 98%;
        height: 40px;
        font-size: 20px;
        margin-left: 1%;
    }
}

@media(max-width:580px) {
    .checkTable>div {
        width: 25px;
        height: 25px;
    }

    .cell_2 {
        width: 10%;
        padding-left: 1px;
        z-index: 99;
        position: relative;
    }
}